<div class="col-10 offset-1 about">
    <h1>Splurty</h1>
    <div class="me">
        <%= image_tag 'bryce.jpeg', class: 'img-fluid' %>
    </div>
    <p>
        Hi, my name is <a target="_blank" href="https://github.com/aznorthrup">Bryce</a>! Splurty was the first functional web application that I've ever built. Nonetheless, I am an aspiring web developer.
    </p>
        <br />
    <p>
        After several years working in medicine, I have finally decided to bite the bullet. I quit my job and dove headfirst into programming. If I could go back and do it all again, the only thing I would change is the god-awful name of this app!
    </p>
        <br />
    <p>
        Learning to code can be hard when you're on your own. I was lucky to get the resources form others in the field. But if you want to develop a thorough comprehension of the very, you can always start somewhere like <a target="_blank" href="https://freecodecamp.org">here.</a> 
    </p>
        <br />
    <p>
        Enjoy this mess of a program!
    </p>

</div>


<br class="clear" />
<br />
<br />
<br />
<br />