@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.clear{
    clear: both;
}
.circle{
    font-weight: bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #627194;
    border: 2px solid #292e3b;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #292e3b;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform: rotate(-11deg);
    -ms-transform: rotate(-11deg); /* IE 9 */
    -webkit-transform: rotate(-11deg); /* Opera, Chrome, and Safari */
}
.slogan{
    font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
    font-style: italic;
    padding-top: 26px;
    color: #94373e;
}
.about{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 500;
}
.links{
    padding-top: 26px;
    padding-left: 50px;

}
.links a{
    color: black;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    width: 10px;
    border: 2px solid #292e3b;
    background: #627194;
    padding: 15px;
    margin: 10px;
}
header{
    border-top: 9px solid black;
}
hr{
    clear: both;
}
h1{
    font-family: 'Roboto', sans-serif;
}
h2{
    font-family: 'Roboto', sans-serif;
}
.next_quote{
    color: #94373e;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.footer-blurb-one{
    font-family: 'Roboto', sans-serif;
    text-align: right;
    font-size: 12px;
}
.logo:hover{
    text-decoration: none;
}
.me{
    display:  block;
	margin-left: auto;
	margin-right: auto;
    height:  25%;
    margin-bottom: 10px;
}
@media (max-width: 750px) {
    .footer-blurb {
      text-align: left;
    }
  }
.modal{
    font-family: 'Roboto', sans-serif;
}
h4 span {
    font-family: 'Roboto', sans-serif;
    color: #dddddd;
    font-family: 'Roboto', sans-serif;
}
::selection{
    background-color: #f84342;
}