<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
  </head>
  <body>
    <header class = "row">
      <div class = "col-3">
        LOGO
      </div>
      
      <div class = "col-4">
        "One musn't believe all that they read on the internet..." <em>-Socrates</em>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
